
<h3><center><b>Enter information</b></center></h3>


<%= render :partial => "form" %>

 
<%#if @profile.errors.any?%>

<%# @profile.errors.full_messages.each do |message| %>
<%# message %>

<%#end %>
    